{% extends 'layouts/default.html' %}
{% block body %}
<div class="a-la-une">
  <div class="container">
    <h1 class="text-center">Repair cafes</h1>
  </div>
  <div class="container-fluid">
    <a class="btn btn-secondary" href="/search">Faire une recherche</a>
  </div>
  <br>
  <div class="container-fluid">
    <table class="table table-dark table-striped">
      <thead>                
        <tr>
          <th>Nom</th>
          <th>Ville</th>
          <th>Adresse</th>
          <th>Téléphone</th>
          <th>Horaire</th>
          <th>Spécialité</th>
        </tr>
      </thead>
      <tbody>
        {% for data in jsonData %}
          <tr>
            <td><a href="/detail?adresse={{data.fields.adresse}}"> {{data.fields.nom_repair_cafe}}</a></td>
            <td>{{data.fields.ville}}</td>
            <td>{{data.fields.adresse}}</td>
            <td>{{data.fields.telephone}}</td>
            <td>{{data.fields.horaire}}</td>
            <td>{{data.fields.specialite}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <center><a class="btn btn-dark" href="/">Retour</a></center>
  </div>
</div>
{% endblock %}