{% extends  'layouts/default.html' %}
{% block body %}
<div class="container-fluid">   
  <div class="container">
    <h1 class="text-center">Repairs cafés</h1>                                                                                                                       
  </div>
  <table class="table table-dark table-striped">
    <thead>                
      <tr>
        <th>Nom</th>
        <th>Ville</th>
        <th>Mail</th>
        <th>Adresse</th>
        <th>Téléphone</th>
        <th>horaire</th>
        <th>cp</th>
      </tr>
    </thead>
    <tbody>
      {% for data in jsonData %}
        <tr>
          <td> {{data.fields.nom_repair_cafe}}</td>
          <td> {{data.fields.ville}}</td>
          <td> {{data.fields.mail}}</td>
          <td> {{data.fields.adresse}}</td>
          <td> {{data.fields.telephone}}</td>
          <td> {{data.fields.horaire}}</td>
          <td> {{data.fields.cp}}</td>
        </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}