{% extends  'layouts/default.html' %}
{% block body %}

<head>
  <!-- href="/static/assets/style.css"-->
  <meta charset="UTF-8">
  
    <title>recherche page  </title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
     <body>
      <div class="a-la-une">
        <div class="container">
            <h1 class="text-center">Repair cafes</h1>                                                                                                                       
        
   
        <div class="container-">
          <h1>Formulaires</h1>
          <form method="post" class="needs-validation" novalidate>
           
                <legend>Replier le formulaire pour faciliter la recherche</legend>
                   <div class="form-row">  
                     <div class="col-md-4 mb-3">
                          <b><label for="nom">Entrez le nom de repaire cafe</label></b>
                          <input type="text" class="form-control" id="nomrepair" placeholder="Repair Café Halluin" required>
                          <div class="valid-feedback">Ok !</div>
                          <div class="invalid-feedback">Valeur incorrecte</div>
                     </div>
                     </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                          <b><label for="ville">Ville</label></b>
                          <input type="text" class="form-control" id="ville" placeholder="Halluin" required>
                          <div class="valid-feedback">Ok !</div>
                          <div class="invalid-feedback">Valeur incorrecte</div>
                        </div>
                    </div> 
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                          <b><label for="Adresse">Addresse</Address></label></b>
                          <input type="text" class="form-control" id="Adresse" placeholder="78 rue Gustave Desmettre" required>
                          <div class="valid-feedback">Ok !</div>
                          <div class="invalid-feedback">Valeur incorrecte</div>
                        </div>
                    </div> 
                    <div class="form-row">
                      <div class="col-md-4 mb-3">
                        <b><label for="specialite">Spécialité</label></b>
                        <input type="text" class="form-control" id="specialite" placeholder="Informatique" required>
                        <div class="valid-feedback">Ok !</div>
                        <div class="invalid-feedback">Valeur incorrecte</div>
                      </div>
                  </div> 
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                          <b><label for="cp">Code postal</label></b>
                          <input type="number" class="form-control" id="cp" placeholder="59650" required>
                          <div class="valid-feedback">Ok !</div>
                          <div class="invalid-feedback">Valeur incorrecte</div>
                        </div>
                    </div>
                 <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <b><label for="inscription">Inscription  </label></b>
                   
                  <select class="form-select" aria-label="Default select example">
                   
                  
                    <option value="1">oui </option>
                    <option value="2">Non </option>
                    <option value="3"> Autre </option>
                  </select>
                  </div>
                 </div> 
                 <button class="btn btn-secondary" type="submit">Recherche</button>
              
             </form>
         </div>
         </div>
        
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
{% endblock %}