{% extends  'layouts/default.html' %}
{% block body %}

<head>
  <!-- href="/static/assets/style.css"-->
  <meta charset="UTF-8">
  
    <title>recherche page  </title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
     <body>
      <div class="a-la-une">
        <div class="container">
            <h1 class="text-center">Repair cafes</h1>                                                                                                                       
        </div>
   
        <div class="container-">
          <h1>Formulaires</h1>
          <form class="needs-validation" novalidate>
                <legend>Replier le formulaire pour faciliter la recherche</legend>
                   <div class="form-row">  
                     <div class="col-md-4 mb-3">
                          <label for="nom">Entrez le nom de repaire cafe</label>
                          <input type="text" class="form-control" id="nomrepair" placeholder="Repair Café Halluin" required>
                          <div class="valid-feedback">Ok !</div>
                          <div class="invalid-feedback">Valeur incorrecte</div>
                     </div>
                     </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                          <label for="ville">Ville</label>
                          <input type="text" class="form-control" id="ville" placeholder="Halluin" required>
                          <div class="valid-feedback">Ok !</div>
                          <div class="invalid-feedback">Valeur incorrecte</div>
                        </div>
                    </div> 
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                          <label for="Adresse">Address</Address></label>
                          <input type="text" class="form-control" id="Adresse" placeholder="78 rue Gustave Desmettre" required>
                          <div class="valid-feedback">Ok !</div>
                          <div class="invalid-feedback">Valeur incorrecte</div>
                        </div>
                    </div> 
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                          <label for="cp">Code postal</label>
                          <input type="number" class="form-control" id="cp" placeholder="59650" required>
                          <div class="valid-feedback">Ok !</div>
                          <div class="invalid-feedback">Valeur incorrecte</div>
                        </div>
                    </div>
                    <fieldset class="row mb-3">
                      <legend class="col-form-label col-sm-2 pt-0">Inscription</legend>
                        <div class="col-sm-10">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                          Oui
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                          Non 
                        </label>
                      </div>
                    </div>
                  </fieldset>
                 <button class="btn btn-primary" type="submit">Recherche</button>
             </form>
         </div>
        
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
{% endblock %}