{% extends  'layouts/default.html' %}
{% block body %}
<div class="a-la-une">
  <div class="container">
      <h1 class="text-center">Repair cafes</h1>
  <div class="container-">
    <h1>Formulaire</h1>
    <form method="post" class="needs-validation" novalidate>
      <legend>Remplire le formulaire pour effectuer une recherche</legend>
        <div class="form-row">  
          <div class="col-md-4 mb-3">
            <b><label for="nom">Entrez le nom de repaire cafe</label></b>
            <input name="nom" type="text" class="form-control" id="nomrepair" placeholder="Repair Café Halluin">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <b><label for="ville">Ville</label></b>
            <br>
              <select name="ville" class="form-control" id="ville" aria-label="Default select example">
                <option value=""></option>
                {% for data in dataVille %}
                  <option value="{{data._id}}">{{data._id}}</option>
                {% endfor %}
              </select>
          </div>
        </div> 
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <b><label for="Adresse">Adresse</label></b>
            <input name="adresse" type="text" class="form-control" id="Adresse" placeholder="78 rue Gustave Desmettre">
          </div>
        </div> 
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <b><label for="specialite">Spécialité</label></b>
            <select name="spec" class="form-control" id="specialite" aria-label="Default select example">
              <option value=""></option>
              <option value="Audio">Audiovisuel</option>
              <option value="Bijoux">Bijoux</option>
              <option value="Couture">Couture</option>
              <option value="Electromécanique">Electromécanique</option>
              <option value="Electroménager">Electroménager</option>
              <option value="Electronique">Electronique</option>
              <option value="Informatique">Informatique</option>
              <option value="Machine à coudre">Machine à coudre</option>
              <option value="Méca">Mécanique</option>
              <option value="Meuble">Meuble</option>
              <option value="Montres">Montres</option>
              <option value="Multimédia">Multimédia</option>
              <option value="Petits Meubles">Petits Meubles</option>
              <option value="Vélos">Vélos</option>
            </select>
          </div>
        </div> 
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <b><label for="cp">Code postal</label></b>
            <input name="cp" type="number" class="form-control" id="cp" placeholder="59650">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <b><label for="inscription">Inscription  </label></b>
            <br>
            <select name="inscrip" class="form-control" aria-label="Default select example">
              <option value=""> </option>
              <option value="Oui">Oui </option>
              <option value="Non"> Non </option>
            </select>
          </div>
        </div> 
        <button name="submit" class="btn btn-success" type="submit">Recherche</button>       
    </form>
    <br/>
    <a class="btn btn-secondary" class="btn btn-dark" href="/">Retour</a>
  </div>
</div>
{% endblock %}